@{
    ViewBag.Title = "RPG Infinity";
}

<div class="jumbotron">
    <center>
    <h1>RPG Infinity</h1>
    <h2>Online RPG Character Creator</h2>
    </center>
</div>
<center>
    <img class="Rounded-Corners Image" src="~/Content/dnd.jpg" width="1012" height="400" alt="Responsive image"/>
</center>